//SCSS COLOR VARIABLES//
//TO ACCESS, use  map-get($colors-primary, 500)   //
// Larger number = Darker shade,  Smaller number = Lighter shade  //
$colors-neutral: (
  500: #424242,
  400: #9F9F9F,
  300: #D9D9D9,
  200: #F1F1F1,
  100: #FFFFFF
);
$colors-primary: (
  500: #33363F,
  400: #3E465F,
  300: #525E83,
  200: #6D7489,
  100: #858B9C);
$colors-green: (
  300: #1F6B4C,
  200: #3DD598,
  100: #D4F5E9
);
$colors-red: (
  300: #802C30,
  200: #FF575F,
  100: #FFE5E7
);

@keyframes button-hover{
  0% {
    transform: translateY(0);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  }
  100%{
    transform: translateY(-2px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  }
}

body{
  margin: 0px 0px 0px 0px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get($colors-neutral, 300);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($colors-neutral, 500); 
  border-radius: 10px;
}



svg{
  display: block;
}

.main-navbar-container{
  position:fixed;
  top: 0;
  height: 100vh;
  width: 100px;
  background-color: map-get($colors-primary, 500);
  display: flex;
  flex-direction: column;

  .logo-container{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 14px;
  }

  .icon-container{
    max-width: 100%;
    min-height: 90px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 25px 10px 25px;
      text-decoration: none;
    }
    
    &:hover{
      background-color: map-get($colors-neutral, 100);
      
      span{
        color: map-get($colors-primary, 500);
        transform: scale(1.15);
      }
      svg{
        fill: map-get($colors-primary, 500);
        transform: scale(1.15);
      }
    }

    span{
      color:  map-get($colors-neutral, 100);
      margin-top: 5px;
      font-size: 12px;
      transition: transform .2s;
    }

    svg{
      width: 100%;
      fill: map-get($colors-neutral, 100);
      transition: transform .2s;
    }
  }

}

#main-header-container{
  background-color: map-get($colors-primary, 500);
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  

  #page-text-container{
    margin: auto;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    color: map-get($colors-neutral, 100);

    #main{
      font-size: 40px;
      font-weight: 700;
    }

    #sub{
      font-size: 30px;
    }
  }

  #user-container{
    float:right;
    margin: auto;
    margin-right: 40px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    gap: 20px;

    #text{
      color: map-get($colors-neutral, 100);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    }
  }


#main-container{
  padding-left: 100px;
  padding-top: 120px;
}

.red-button-container{
  border: none;
  border-radius: 10px;
  background-color: map-get($colors-red, 200);
  min-height: 60px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }
}

.green-button-container{
  border: none;
  border-radius: 10px;
  background-color: map-get($colors-green, 200);
  min-height: 60px;
  min-width: 150px;
  margin-left: 15px;
  display: inline;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }
}

.gray-button-container{
  border: none;
  border-radius: 15px;
  background-color: map-get($colors-neutral, 400);
  min-height: 60px;
  margin-left: 10px;
  min-width: 150px;
  display: inline;
  justify-content: center;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  color: map-get($colors-neutral,100);
  padding: 20px;
  
  span{
    align-self: center;
  }

  &:hover{
    animation: button-hover 0.3s ease-in-out forwards;
  }
}


.main-container-bg{
    border: 5px;
    border-radius: 15px;
    background-color: #E6E6E6;
    width: 100%;
    height: 100%;
}


.user-main-container{
  display: flex;

  .user-left-container{
    padding-left: 30px;
    padding-top: 40px;
    float: left;

    .user-list-container{
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      height: calc(100vh - 260px);
      width: calc(50vw - 100px);
      min-width: 500px;
      overflow-y: scroll;
      gap: 15px;
    }
  }

  .user-right-container{
    float: right;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .user-create-main-container{
      display: flex;
      flex-direction: column;
      background-color: map-get($colors-neutral, 300);
      margin: 30px;
      border-radius: 10px;
      min-height: 60vh;
      width: 100%;
      padding: 0px 40px 20px 40px;
      gap: 5px;

      h1{
        font-weight: 700;
        font-size: 30px;
      }

      input{
          font-size: 25px;
          border-radius: 10px;
          padding: 8px;
          width: 450px;
          margin-bottom: 20px;
      }

      select{
        margin-bottom: 20px;
      }
    }
  }

  .user-create-button-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
  }
}

.required-mark{
  color: map-get($colors-red, 200);
}

  .sort-dropdown-container{
    display: inline;
  }

.user-card-main-container{
  border-radius: 10px;
  max-width: 40vw;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: map-get($colors-neutral, 300);

  .text-container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .buttons-container{
    display: flex;
    gap: 20px;

    .edit-button{
      width: 40px;
      cursor: pointer;
      transition: transform .2s;

      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.toggle-switch-main-container-enabled{
  background-color: map-get($colors-green, 200);
  height: 40px;
  width: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  cursor: pointer;
  
  svg{
    width: 25px;
    margin-right: calc(50% - 33px);
  }
}

.toggle-switch-main-container-disabled{
  background-color: map-get($colors-red, 200);
  height: 40px;
  width: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  cursor: pointer;

  svg{
    width: 19px;
    margin-left: calc(50% - 33px);
  }
}

.toggle-switch-handle{
  border-radius: 50%;
  height: 100%;
  width: 40px;
  background-color: map-get($colors-neutral,100);
}

.search-bar{
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 450px;
  margin-left: 35px;
}

.sort-dropdown{
  background-color: map-get($colors-primary, 500);
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  color: white;
  display: inline;
  width: fit-content;
  border: 2px solid map-get($colors-neutral, 500);

  &#role-filter{
    background-color: map-get($colors-neutral, 100);
    color: map-get($colors-neutral, 500);
    margin-left: 20px;
  }

  &#user-create-role{
    background-color: map-get($colors-neutral, 100);
    color: map-get($colors-neutral, 500);
  }
}

.sort-container{
  padding-left: 10px;
}

.add-button{
  background-color: map-get($colors-green, 200);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border-color: map-get($colors-green, 200);
  padding: 8px;
  margin-right: 35px;
  display: inline;
  float: right;

  a{
    text-decoration: none;
    color: white;
  }
  
  &:hover{
    animation: button-hover 0.2s ease-in-out forwards;
  }
}

#btable {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  font-size: 18px;
}

#btable td, #btable th {
  border: 1px solid #312F30;
  padding: 8px;
  
}

#btable tr:nth-child(even){background-color: #f2f2f2;}

.btable_tr{
  border-radius: 10px;
}
#btable tr:hover {background-color: #ddd;}

#btable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #312F30;
  color: white;
}

#btable td {
  text-align: center;
}

.form-labels{
  font-size: 25px;
  border-radius: 10px;
  padding: 8px;
  width: 450px;
  margin-left: 25px;
}
.form-container{
  display: grid;
  grid-template-columns: repeat(3, 450px);
}
.form-item{
  grid-column: span 1;


}

.form-item-buttons{
  margin-left: 120px;
  margin-bottom: 50px;
  grid-column: 3;
}
.form-fields{
  font-size: 25px;
  border-radius: 5px;
  padding: 8px;
  width: 400px;
  margin-left: 35px;
  margin-top: 10px;
}
.page-buttons{
 font-size: 18px;
  margin: auto;
  align-items: center;
}
.form-toggle{
 margin-top: 10px;
 margin-left:50px;
}
.required{
  color: map-get($colors-red, 200);
}

hr{
  background-color: 10px map-get($colors-neutral, 500);
  width: 98%;
}